body {
  background: #02020a;
  color: #e0ffff;
  font-family: 'Arial', sans-serif;
  margin: 0;
}

.entry {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, #001f2f, #000);
}

.entry h1 {
  font-size: 4em;
  color: #00f0ff;
  text-shadow: 0 0 15px #00f0ff;
}

button {
  background: black;
  color: #ffd700;
  border: 1px solid #ffd700;
  padding: 15px;
  margin-top: 20px;
  cursor: pointer;
}
